---
import LogoLight from "../assets/odict-light.svg";
import LogoDark from "../assets/odict-dark.svg";
import { LinkButton } from "@astrojs/starlight/components";

const { data } = Astro.locals.starlightRoute.entry;
const { tagline, actions = [] } = data.hero || {};
---

<div
  class="size-full flex flex-row max-lg:flex-col px-8 gap-x-16 gap-y-0 justify-center-safe items-center-safe"
>
  <LogoLight class="mx-auto aspect-[6] max-w-full dark:hidden" />
  <LogoDark class="mx-auto aspect-[6] max-w-full not-dark:hidden" />
  <div>
    <p
      class="text-lg max-lg:text-base text-foreground/70 max-lg:text-center mt-4 text-left"
    >
      {tagline}
    </p>
    <div class="sl-flex max-lg:justify-center actions gap-2 -ml-2 mt-8">
      {
        actions.map(
          ({
            attrs: { class: className, ...attrs } = {},
            icon,
            link: href,
            text,
            variant,
          }) => (
            <LinkButton
              {href}
              {variant}
              icon={icon?.name}
              class:list={[
                "max-w-none px-3 hover:opacity-80 transition-all duration-300 ease-out active:opacity-50 active:scale-98 gap-0 [&_svg]:size-5 py-3",
                className,
              ]}
              {...attrs}
            >
              <span class="px-2">{text}</span>
              {icon?.html && <Fragment set:html={icon.html} />}
            </LinkButton>
          ),
        )
      }
    </div>
  </div>
</div>

<style is:global>
  @reference "../styles/global.css";

  [data-has-hero] {
    .content-panel,
    .main-pane main {
      @apply p-0 h-screen;
    }

    header {
      @apply hidden;
    }

    .main-frame {
      @apply p-0;
    }

    .sl-container {
      @apply h-screen;
      --sl-content-width: 75rem;
    }
  }
</style>
